html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  transition: 0.5s;
  margin: 0;
}

#property {
  position: absolute;
  background-color: #ededed;
  border-radius: 3px 3px 70px 0;
  border: none;
  width: 350px;
  height: 45px;
}

#zvp {
  color: #2a6ba9;
  font-size: 30px;
  font-weight: 900;
  margin: 5px 0 0 220px;
}

header {
  width: 100%;
  height: 90px;
  background-color: #2a6ba9;
  text-align: center;
}

.container {
  min-width: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 400px;
  position: relative;
  margin: 20px 5% 0 5%;
}

input[type="text"] {
  width: calc(100% - 70px);
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]::selection {
  background-color: #2a6ba9;
  color: #ffffff;
}

input[type="button"] {
  width: 70px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.key {
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2a6ba9;
  transition: all 0.5s ease;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
}

.key:hover {
  background-color: #007bff;
  transform: scale(1.03);
}

.enter-btn {
  width: auto;
  padding: 10px;
  border: none;
  width: 40px;
  border-radius: 5px;
  background-color: #2a9926;
  transition: all 0.5s ease;
  margin-bottom: 10px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.enter-btn:hover {
  background-color: #14da0d;
  transform: scale(1.03);
}

.groups {
  display: flex;
  color: #2a6ba9;
  justify-content: center;
  align-items: center;
}

#group {
  font-size: 130px;
  position: relative;
  transition: 0.5s;
}

#comment {
  font-size: 100px;
  margin: -160px 0 0 230px;
  position: absolute;
}

.social-media-note {
  color: #2a6ba9;
  margin: 0 20% 0 20%;
  text-align: center;
}

.social-media {
  position: relative;
  display: flex;
  margin: 30px 0 0 0;
  justify-content: center;
}

#social-media-btn {
  background-color: #fdfdfd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  transition: 0.5s;
}

#social-media-btn:hover {
  background-color: #ededed;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

#social-media-icon {
  font-size: 24px;
  color: #2a6ba9;
}

/* SIDEBAR */
.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #f1f1f1;
}

.welcome {
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  transition: 0.5s;
  color: #252525;
}

.sidebar-note-btn {
  text-align: left;
  margin-left: 5px;
  transition: 0.5s;
  border: none;
  width: 300px;
}

.sidebar-note-btn:active {
  background-color: #2a6ba9a3;
}

.sidebar-note {
  transition: 0.5s;
  color: #2a6ba9;
  font-size: 20px;
  font-weight: 600;
}

h12 {
  font-style: italic;
  color: #2a6ba9;
  transition: 0.5s;
}

li {
  text-align: left;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebarcontent {
  flex: 1;
  padding: 0px;
}

.headersidebar {
  background-color: #2a6ba9;
}

.toggle-btn {
  font-size: 30px;
  cursor: pointer;
  font-weight: bold;
  z-index: 3;
  position: absolute;
  background-color: transparent;
  color: #2a6ba9;
  border: none;
  padding-top: 110px;
  transition: margin-left 0.5s;
  margin-left: 12px;
  margin-bottom: -74px;
  margin-top: -110px;
}

.toggle-btn.sidebar-opened {
  margin-left: 310px;
  position: fixed;
  background-color: #ededed;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
}

/* SWITCH*/
.dark-mode-switch {
  position: relative;
  top: 10px;
  right: 230px;
  z-index: 1000;
}

.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 6px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2a6ba9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(24px);
}

/* DARK MODE OPTION */
:root {
  --bg-color-light: #dcdcdc;
  --text-color-light: #dcdcdc;
  --bg-color-dark: #252525;
  --text-color-dark: #ffffff;
  --ziev-color-dark: #3688d8;
}

/* DARK MODE STUFF */
body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.dark-mode .sidebar {
  background-color: #373737;
}

.dark-mode .sidebar-note-btn {
  background-color: #373737;
}

.dark-mode #social-media-btn {
  background-color: #292929;
}

.dark-mode h12 {
  color: var(--ziev-color-dark);
}

.dark-mode i {
  color: var(--ziev-color-dark);
}

.dark-mode .welcome {
  color: #dcdcdc;
}

.dark-mode a {
  color: var(--text-color-dark);
}

.dark-mode #send {
  color: var(--text-color-dark);
}

.dark-mode .zv {
  color: #2a6ba9;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FOOTER */
footer {
  border-radius: 85% 85% 0 0 / 30%;
  margin-bottom: 0px;
  margin-top: 30px;
  height: 400px;
  background-color: #2a6ba9;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footer-logo {
  left: 50%;
  width: 60px;
  height: 60px;
  z-index: 100;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  position: relative;
  color: white;
}

a:active {
  text-decoration: underline;
}

.company {
  float: left;
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
}

.more {
  font-size: 20px;
  font-weight: bold;
  float: left;
  color: white;
  margin-top: -5px;
  margin-left: 165px;
}

.liright {
  float: left;
  margin-left: 180px;
  margin-top: 7px;
  font-size: 15px;
}

.lileft {
  margin-top: 7px;
  float: left;
  margin-left: 25px;
  font-size: 15px;
}

.ulleft {
  margin-left: -10px;
  margin-bottom: -150px;
  float: left;
}

.ulright {
  float: left;
  margin-top: -16px;
}

.copy {
  margin-left: -17px;
  margin-top: 320px;
}

@media (min-width: 573px) {
  .ulright {
    margin-top: 58px;
  }
}
